version: '3.7'

services:

  temp:
    image: temp
    container_name: temp
    hostname: temp
    restart: always
    environment:

    volumes:

    networks:

    ports:


networks:
  temp-network:

volumes:
  temp-data:
